{% extends 'base.twig' %}

{% block title %}Git Checker - {{ root }}{{ virtualHost }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ root }}{{ virtualHost }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <a href="/" class="btn pull-left"><span aria-hidden="true" class="glyphicon glyphicon-home"></span></a>
                    <a href="{{ path_for('fetch', { 'virtualHost': virtualHost|trim('/\\') }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                </div>
                {% if repositories|length > 0 %}
                    <ul class="list-group">
                        {% for repository in repositories %}
                            <li class="list-group-item clearfix">{{ repository.relativePath }}
                                <span class="label label-default">{{ repository.trackingInformation.branch }}</span>
                                <span><span class="badge">{{ repository.trackingInformation.behind }}</span></span>
                                <div class="btn-group pull-right" role="group">
                                    <a href="{{ path_for('fetch', { 'virtualHost': virtualHost|trim('/\\'), 'repository': repository.relativePath|replace({'\\': '/'}) }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                                </div>
                                {% if not repository.status %}
                                    <span class="label label-success">clean</span>
                                {% else %}
                                    <span class="label label-danger">changed</span>
                                    <br />
                                    <br />
                                    {{ repository.status|nl2br }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
