{% extends 'base.twig' %}

{% block title %}Git Checker - {{ root }}{{ virtualHost }}{% endblock %}

{% block content %}
    {% set trimmedVirtualHost = virtualHost|trim('/\\') %}
    <div class="page-header">
        <h1>{{ root }}{{ virtualHost }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <a href="/" class="btn pull-left"><span aria-hidden="true" class="glyphicon glyphicon-home"></span></a>
                    <a href="{{ path_for('fetch', { 'virtualHost': trimmedVirtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                    <a href="{{ path_for('pull', { 'virtualHost': trimmedVirtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-download"></span></a>
                    <a href="{{ path_for('add', { 'virtualHost': trimmedVirtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
                </div>
                {% if repositories|length > 0 %}
                    <ul class="list-group">
                        {% for repository in repositories %}
                            {% set forwardSlashedRelativePath = repository.relativePath|replace({'\\': '/'}) %}
                            <li class="list-group-item clearfix">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>
                                            {{ repository.relativePath }}
                                            <span class="label label-default">{{ repository.trackingInformation.branch }}</span>
                                            <span><span class="badge">{{ repository.trackingInformation.behind }}</span></span>
                                            {% if not repository.status %}
                                                <span class="label label-success">clean</span>
                                            {% else %}
                                                <span class="label label-danger">changed</span>
                                            {% endif %}
                                        </p>
                                        <p>
                                            <strong>{{ repository.commit }}</strong>
                                        </p>
                                        {% if repository.status %}
                                            <p class="text-muted">
                                                {{ repository.status|nl2br }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group pull-right" role="group">
                                            {% if repository.trackingInformation.behind and not repository.status %}
                                                <a href="{{ path_for('pull', { 'virtualHost': trimmedVirtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-download"></span></a>
                                            {% elseif repository.status %}
                                                <a href="{{ path_for('reset', { 'virtualHost': trimmedVirtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-down"></span></a>
                                            {% endif %}
                                            {% if repository.trackingInformation.remoteBranch %}
                                                <a href="{{ path_for('fetch', { 'virtualHost': trimmedVirtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                                            {% else %}
                                                <span class="btn disabled" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
