{% extends 'base.twig' %}

{% block title %}Git Checker - {{ path }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ path }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if repositories|length > 0 %}
                <ul class="list-group">
                    {% for repository in repositories %}
                        <li class="list-group-item">{{ repository.relativePath }}
                            <span class="label label-default">{{ repository.trackingInformation.branch }}</span>
                            <span><span class="badge">{{ repository.trackingInformation.behind }}</span></span>
                            {% if not repository.status %}
                                <span class="label label-success">clean</span>
                            {% else %}
                                <span class="label label-danger">changed</span>
                                <br />
                                <br />
                                {{ repository.status|nl2br }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
