{% extends 'base.twig' %}

{% block title %}Git Checker - {{ absoluteVirtualHostPath }}{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){

            $('html').on('click', function (e) {
                //did not click a popover toggle, or icon in popover toggle, or popover
                if ($(e.target).data('toggle') !== 'popover'
                    && $(e.target).parents('[data-toggle="popover"]').length === 0
                    && $(e.target).parents('.popover.in').length === 0) {
                    $('[data-toggle="popover"]').popover('hide');
                }
            });

            $('[data-toggle="popover"]').click(function() {
                var e = $(this);
                e.off('hover');
                $.get('http://git.local/show/aue/ajax/commits/typo3conf/ext/t3import_export', function(d) {
                    e.popover({
                        container: 'body',
                        placement: 'bottom',
                        template: '<div class="popover" style="max-width: 100%;" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
                        content: d
                    }).popover('show');
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ absoluteVirtualHostPath }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <a href="/" class="btn pull-left"><span aria-hidden="true" class="glyphicon glyphicon-home"></span></a>
                    <a href="{{ path_for('fetch', { 'virtualHost': virtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                    <a href="{{ path_for('pull', { 'virtualHost': virtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-download"></span></a>
                    <a href="{{ path_for('add', { 'virtualHost': virtualHost }) }}" class="btn pull-right"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></a>
                </div>
                {% if repositories|length > 0 %}
                    <ul class="list-group">
                        {% for repository in repositories %}
                            {% set forwardSlashedRelativePath = repository.relativePath|replace({'\\': '/'}) %}
                            <li class="list-group-item clearfix">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>
                                            {{ repository.relativePath }}
                                            <span class="label label-default">
                                                {% if repository.trackingInformation.remoteBranch %}
                                                    {{ repository.trackingInformation.remoteBranch }}
                                                {% else %}
                                                    {{ repository.trackingInformation.branch }}
                                                {% endif %}
                                                {% if not repository.status %}
                                                    <a href="{{ path_for('branch', { 'virtualHost': virtualHost, 'repository': forwardSlashedRelativePath }) }}" style="color: #fff"><span aria-hidden="true" class="glyphicon glyphicon-random" style="top: 2px"></span></a>
                                                {% endif %}
                                            </span>
                                            <span>
                                                {% if repository.trackingInformation.behind %}
                                                    <span
                                                        class="badge"
                                                        style="cursor: pointer;"
                                                        data-html="true"
                                                        data-toggle="popover"
                                                        title="{{ repository.trackingInformation.behind }} commits behind"
                                                        data-content="" >
                                                        {{ repository.trackingInformation.behind }}
                                                    </span>
                                                {% else %}
                                                    <span class="badge">{{ repository.trackingInformation.behind }}</span>
                                                {% endif %}

                                            </span>
                                            {% if not repository.status %}
                                                <span class="label label-success">clean</span>
                                            {% else %}
                                                <span class="label label-danger">changed</span>
                                            {% endif %}
                                        </p>
                                        <p>
                                            <strong>{{ repository.commit }}</strong>
                                        </p>
                                        {% if repository.status %}
                                            <p class="text-muted">
                                                {{ repository.status|nl2br }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group pull-right" role="group">
                                            {% if repository.trackingInformation.behind and not repository.status %}
                                                <a href="{{ path_for('pull', { 'virtualHost': virtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-download"></span></a>
                                            {% elseif repository.status %}
                                                <a href="{{ path_for('reset', { 'virtualHost': virtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-down"></span></a>
                                            {% endif %}
                                            {% if repository.trackingInformation.remoteBranch %}
                                                <a href="{{ path_for('fetch', { 'virtualHost': virtualHost, 'repository': forwardSlashedRelativePath }) }}" class="btn" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
                                            {% else %}
                                                <span class="btn disabled" style="border-color: #ccc"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
